body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: #fff;
}

th, td {
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e9ecef;
}

th {
    background-color: #007BFF;
    color: white;
}

td {
    border: solid 1px #ddd;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

form {
    display: inline;
}




input[type="submit"] {
    background: darkgreen;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#eliminar{
    background-color: darkred;
}
#eliminar:hover{
    background-color: red;
}

input[type="submit"]:hover {
    background: green;
}

#form {
    margin-top: 10px;
}